
.calender-container{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
}

.calender{
    width: 180px;
    height: 30px;
    border: 2px solid black;
    color: 'black';
    font-size: 17px;
    padding-left: 10px;
}

.start-btn{
    height: 35px;
    width: 60px;
    display: block;
    margin-left: 20px;
}

.timer{
    display: flex;
    gap: 12px;
    margin: 0 auto;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.value{
    font-size: 35px;
}

.label{
    text-transform: uppercase;
}